docs/.jekyll-cache/*
docs/.jekyll-metadata
.DS_Store
docs/_site/*

code/scripts/.ipynb_checkpoints/*
code/scripts/__pycache__/*
notebooks/scripts/.ipynb_checkpoints/*
code/notebooks/.snakemake/*
code/data/*
!code/data/CURRENT/
code/.snakemake/*
code/.ipynb_checkpoints/*
code/notebooks/.ipynb_checkpoints/*
